$bg-cell: rgb(93, 154, 244);
$bd-cell: 1px solid rgb(227, 231, 242);
$border: 3px solid  rgb(60, 65, 123);
$blue-dark: rgb(60, 65, 123);
$blue-light: rgb(93, 154, 244);
$bg-linear: linear-gradient(to bottom, $blue-dark, $blue-light);
$bg-app: linear-gradient(to right, rgb(65, 66, 132), rgb(39, 41, 86));