footer {

    // connect us
    .footer__connect {
        background-image: url(../assets/img/bkg-footer.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        padding-bottom: 120px;
        
        .connect__child {

            .connect__heading {
                margin-top: 5px;
                font-size: 1.6rem;
                letter-spacing: 1px;
                color: var(--white-color);
                text-align: center;
                left: 0;
                right: 0;
            }

            .connect__heading::after {
                content: "";
                display: block;
                background-color: #fff;
                width: 40px;
                height: 4px;
                margin: 14px auto 40px;  
            }
    
            .connect__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
    
                .connect__item {
    
                    .connect__item--img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50px;
                        height: 50px;
                    }
                    
                    .connect__item--app {
                        color: rgb(245, 235, 235);
                        font-size: 1.3rem;
                        letter-spacing: 1px;
                        font-family: Arial, Helvetica, sans-serif;
                        display: block;
                        text-align: center;
                        margin-top: 24px;
                    }
                    
                    .connect__item--detail {
                        color: rgb(245, 235, 235);
                        font-size: 1.2rem;
                        font-family: Arial, Helvetica, sans-serif;
                        display: block;
                        text-align: center;
                        margin-top: 24px;
                    }
                }
            }
        }
    }
    // end connect

    // footer info
    .footer__info {
        background-color: var(--black-color);
        color: var(--white-color);

        .content__section {
            padding: 40px 0px 40px 0px;

            .footer__info--list {
                display: flex;
    
                .item__contact {
    
                    .item__contact--heading {
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
    
                    .item__contact--location {
                        font-size: 1.1rem;
                        font-weight: 700;
                        line-height: 2rem;
                        margin-top: 10px;
    
                        .location__des {
                            color: rgb(214, 205, 205);
                        }
                    }
    
                    .item__contact--via {
                        font-size: 1.1rem;
                        font-weight: 700;
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
    
                        .contact-phone, .contact-email {
                            margin-left: 4px;
                            color: rgb(214, 205, 205);
                        }
                        
                    }
                }
    
                .item__associate {
    
                    .item__associate--heading {
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
    
                    .item__associate--contain {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin-top: 10px;
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: rgb(214, 205, 205);
    
                        .sub__associate {
                            display: flex;
                            align-items: center;
                            margin-top: 4px;
                            padding: 0px 2px;
                        
                            
                            .associate__detail {
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    // end footerinfo
}
// end footer








